/* *{
    color: red;
} */

/* li{
    color: blue;
} */

/* h1 {
    color: green;
}

.chair {
    color: blue;
} */

/* #text */

/* .chair */

p{
    /* color: #00ff66;    */
    /* color: mediumturquoise; */
    /* color: rgb(255, 94, 0); */

    /* background-color: rgba(90, 25, 89, 0.3); */
    /* opacity: 0.5; */
}